@media (min-width: 1350px) {
  .header .container {
    width: 1315px;
    padding-left: 0;
    padding-right: 0; } }

@media (max-width: 1199px) {
  .top-nav {
    width: 580px; }
  .bottom-menu a {
    font-size: 13px; }
  .card-zone__label .zone-list__info__item + .zone-list__info__item {
    margin-left: 15px; }
  .zone-list {
    margin-left: -15px; }
  .zone-list__item {
    padding-left: 15px; }
  .zone-list__btn .btn-blue {
    float: none;
    display: block;
    margin: auto;
    margin-bottom: 15px; }
  .zone-list__btn .btn-white {
    float: none;
    display: block;
    margin: auto; } }

@media (min-width: 992px) {
  .toggle-btn {
    display: none; }
  .close-nav {
    display: none; }
  .header.fixed .header-tel:before {
    background: url(../img/call-answer-blue.png) no-repeat; }
  .text-list .col-md-4:nth-child(3n+1) {
    clear: both; } }

@media (max-width: 991px) {
  .thumb-item {
    margin: 0;
    font-size: 16px; }
  .card-adv__line {
    display: block; }
  .video-block {
    height: 400px; }
  .gps-link {
    font-size: 22px; }
  .event-column {
    padding: 15px; }
  .card-zone__info {
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px; }
  .card-zone__text {
    padding: 15px; }
  .card-zone-img {
    height: 250px; }
  .zone-list__img {
    height: 230px; }
  .product-filter .filter-item_news {
    padding-left: 15px;
    padding-right: 15px; }
  .zone-text {
    margin-bottom: 20px; }
  .product-filter .filter-item {
    font-size: 12px; }
  .header.fixed {
    position: absolute; }
  .header-tel {
    padding-right: 40px; }
  .top-nav {
    position: absolute;
    z-index: 10;
    right: 0;
    top: -100%;
    width: 300px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: #000;
    color: #fff;
    padding: 15px;
    opacity: 0;
    visibility: hidden; }
    .top-nav.active {
      top: 0;
      opacity: 1;
      visibility: visible; }
      .top-nav.active .top-nav__bottom a,
      .top-nav.active .bottom-nav a {
        color: #fff !important; }
      .top-nav.active .lang-item.active,
      .top-nav.active .lang-item:hover {
        color: #fff; }
    .top-nav .pull-left,
    .top-nav .pull-right {
      float: none !important; }
  .top-menu > li + li {
    margin-left: 0; }
  .top-menu > li a {
    font-size: 16px; }
    .top-menu > li a:hover {
      text-decoration: underline; }
  .top-menu > li a {
    opacity: 1; }
  .top-nav__top {
    margin-bottom: 15px; }
  .top-menu > li + li,
  .bottom-menu > li + li {
    margin-top: 10px; }
  .bottom-menu a {
    font-size: 16px; }
    .bottom-menu a:hover {
      text-decoration: underline; }
  .top-menu > li {
    float: none; }
  .lang-item {
    font-size: 16px; }
  .lang {
    margin-bottom: 15px; }
  .bottom-menu {
    display: block; }
  .main-slider-text h1 {
    font-size: 32px; }
  h2 {
    font-size: 24px; }
  .footer-wrapp {
    display: block; }
    .footer-wrapp:after {
      content: "";
      display: block;
      height: 0;
      clear: both; }
  .footer-left {
    float: left; }
  .footer-center {
    float: right; }
  .footer-right {
    clear: both; }
  .subscribe-text {
    margin-bottom: 20px; } }

@media (min-width: 768px) {
  .visible-xs {
    display: none; } }

@media (max-width: 767px) {
  .main-slider {
    min-height: 100%; }
  .card-info__item {
    margin-bottom: 20px; }
  .page-header {
    margin-bottom: 20px; }
  .card-zone__label .zone-list__info__item {
    float: none;
    margin-left: 0 !important; }
  .card-adv {
    padding-bottom: 0; }
  .card-3d {
    padding-bottom: 30px; }
  .zone-tab {
    text-align: center; }
    .zone-tab .pull-right {
      float: none !important; }
  .map-block {
    position: static;
    margin: auto; }
  .product-btn_zone {
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
    top: 15px; }
  .zone-list__item {
    margin-bottom: 20px; }
  .zone-top {
    padding: 15px; }
  .zone-list__info__item {
    margin-bottom: 15px; }
  .zone-list__text {
    height: auto;
    margin-bottom: 15px; }
  .zone-list,
  .tab-pane_zone-map {
    padding: 0; }
  .product-filter .filter-item,
  .filter-select {
    width: 100%; }
  .footer-info {
    margin-bottom: 20px; }
  .product-filter .filter-item {
    border-width: 1px; }
  .filter-select {
    padding-left: 0;
    padding-right: 0; }
  .filter-select select {
    background-color: #fff; }
  .hidden-xs {
    display: none; }
  .modal-dialog {
    width: 90%; }
  .scroll-btn {
    display: none; }
  .modal-form {
    padding: 30px 0; }
  .center-content {
    margin-top: 20px; }
  .modal-title {
    padding: 15px; }
  .sidebar {
    float: none;
    width: 100%;
    display: none; }
  .copyright {
    padding: 15px;
    font-size: 12px; }
  .center-content {
    padding-left: 0; }
  .copyright > div {
    width: 100%;
    margin-bottom: 5px; }
  .thumb-item {
    width: 24%;
    margin-bottom: 20px; }
  .footer-social a {
    font-size: 18px; }
  .thumb {
    bottom: 0; }
  .thumb-text {
    display: none; }
  .main-slider-text {
    position: relative;
    top: 10%; }
  .main-slider-text h1 {
    font-size: 24px; }
  .photo-item_large,
  .photo-item {
    height: 200px;
    padding: 15px; }
  .photo-block .photo-text {
    font-size: 18px; }
  h2 {
    font-size: 18px; }
  .event-choice,
  .event-list {
    padding: 15px;
    border: 0;
    height: auto; }
  .slider-item {
    padding-top: 120px; }
  .arends {
    padding: 15px; }
  .filter-item {
    width: 100%; }
  h4 {
    font-size: 16px; }
  .review-wrapp {
    padding-left: 0;
    padding-right: 0; }
  .user-name,
  .review-date {
    display: block;
    margin-left: 0; }
  .review-item {
    padding-left: 60px; }
  .review-block {
    padding-top: 15px;
    padding-bottom: 15px; }
  .btn {
    padding: 20px;
    min-width: 140px; }
  .nav-tabs > li {
    width: 100%;
    border: 1px solid #eef1f4; }
  .tab-pane {
    padding: 15px; }
  .tab-pane h2 {
    margin-bottom: 20px; }
  .event-choice__total {
    font-size: 20px; }
  .thumb-item {
    font-size: 14px; }
  .footer-wrapp {
    padding: 15px; }
  .footer-center {
    float: left; }
  .subscribe-input {
    width: 100%;
    float: none; }
  .subscribe-submit {
    float: none;
    margin: auto;
    margin-top: 15px; }
  .toggle-filter {
    padding: 12px 20px; }
  .footer {
    margin-top: 15px; }
  .news-descr {
    padding-left: 0;
    padding-right: 0;
    border: 0; } }

@media (max-width: 500px) {
  .products-list > .col-xs-6 {
    width: 100%; }
  .logo {
    width: 90px; }
  .header-tel:before {
    content: none; }
  .header-tel {
    padding-left: 0;
    margin-top: 20px; }
  .review-btn .btn {
    margin: 0 5px; }
  .choice-range {
    max-width: inherit;
    margin-bottom: 30px; }
  .event-choice__title {
    margin-bottom: 20px; } }

@media (max-width: 450px) {
  .video-block {
    height: 250px; }
  .event-list-wrapp .col-md-2 {
    width: 50%; } }
